.landing_div{
    position: relative;
    top: -220px;
    z-index: -1;
    height: 100vh;
    grid-row: 0/1;
    height: 85rem;
    margin-bottom: 5rem;
    /* overflow-x: hidden; */
}

.landing_div img{
    width: 100vw;
    top: -220px;
    filter: brightness(50%);
}

.quote{
    width: 80vw;
    height: 100%;
    position: absolute;
    top: 0;
    margin: auto;
    /* background: red; */
}

.quote_heading{
    width: 100vw;
    height: 100%;
    display: flex;
    color: white;
    text-align: center;
    font-size: 2.5rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
}

.quote p{
    text-align: right;
    margin-top: 2rem;
}

.skewed{
    background: white;
    width: 100rem;
    height: 8rem;
    transform: skewX(-35deg);
    position: relative;
    top: -6rem;
    left: 55vw;
}


@media screen and (max-width: 1427px) {
        .landing_div{
            top: -150px;
            height: 80rem;
        }

    }
@media screen and (max-width: 1278px) {
        .landing_div{
            top: -150px;
            height: 70rem;
        }

    }
    
    @media screen and (max-width: 1120px) {
        .landing_div{
            top: -150px;
            height: 60rem;
        }
        
        .quote_heading {
            font-size: 2rem;
            height: 90vh;
        }
        .skewed {
            top: -5rem;
            left: 55vw;
        }
    }
    @media screen and (max-width: 1000px) {
            .landing_div{
                top: -150px;
                height: 55rem;
            }
    
        }
    @media screen and (max-width: 910px) {
        .landing_div{
            top: -100px;
            height: 50rem;
        }

        .quote_heading {
            font-size: 1.5rem;
            height: 80vh;
        }

                .quote p {
                    text-align: right;
                    margin-top: 1.8rem;
                }
                                .skewed {
                                    top: -4.5rem;
                                    left: 55vw;
                                }
}

@media screen and (max-width: 686px) {
        .landing_div{
            top: -80px;
            height: 45rem;
        }
    
        .quote_heading {
            font-size: 1.3rem;
            height: 60vh;
        }

                .quote p {
                    text-align: right;
                    margin-top: 1.5rem;
                }
                                .skewed {
                                    top: -4rem;
                                    left: 55vw;
                                }
}

@media screen and (max-width: 600px) {
        .landing_div{
            top: -50px;
            height: 35rem;
        }
    

        .quote_heading {
            font-size: 1.2rem;
            height: 500vh;
        }
                .quote p {
                    text-align: right;
                    margin-top: 1.3rem;
                }
                                .skewed {
                                    top: -3.5rem;
                                    left: 50vw;
                                }
}

@media screen and (max-width: 453px) {
        .landing_div{
            top: -20px;
            height: 30rem;
        }
    
    
        .quote_heading {
            font-size: 1rem;
            height: 40vh;
        }
                .quote p {
                    text-align: right;
                    margin-top: 1rem;
                }

                                .skewed {
                                    top: -3rem;
                                    left: 48vw;
                                }
}

@media screen and (max-width: 361px) {
        .landing_div{
            top: -10px;
            height: 25rem;
        }
    
        .quote_heading {
            font-size: 0.8rem;
            height: 35vh;
        }
                .quote p {
                    text-align: right;
                    margin-top: 0.5rem;
                }
                                .skewed {
                                    top: -2rem;
                                    left: 45vw;
                                }

        
}

