/* nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(45deg, rgb(156, 14, 156), midnightblue);
} */

/* .list {
    list-style-type: none;
    background: linear-gradient(45deg, rgb(156, 14, 156), midnightblue);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
} */

/* .items {
    margin-right: 20px;
    font-size: 20px;
    text-transform: uppercase;
    color: #f1f1f1;
    cursor: pointer;
} */

.btn {
    display: none;
    position: absolute;
    background-color: transparent;
    right: 2rem;
    top: 15px;
    padding: 5px;
    color: white;
    font-size: 18px;
    border: none;
    outline: none;
    transition: all 0.3s ease-in;
}


@media screen and (max-width: 801px) {
    .logo_img{
        position: absolute;
        top: 15px;
        left: 2rem;
    }
    .menu{
        display: flex;
        flex-direction: column;
        height: 30vh;
        width:100vw;
        background-color: rgba(0, 0, 0, 0.799);
        backdrop-filter: blur(10px);
        position: fixed;
        top: 0;
        /* position: absolute; */
        align-items: center;
        justify-content: center;
        right: 0;
        top: 0;
        padding: 2px 6px;
        transition: all 0.3s ease-in;
    }
    .navlinks{
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
    }
    .navlink{
        font-size: larger;
        width: 80vw;
        /* background-color: white; */
        padding: 0.5rem;
        border-bottom: 0.1px solid rgba(255, 255, 255, 0.326);
    }
    .login_div{
        display: none;
    }
    .search_div{
        display: none;
    }
    .btn {
        display: block;
    }

    .extra_icons{
        display: block;
        position: absolute;
        right: 6rem;
        top: 23px;
        display: flex;
        width: 5rem;
        gap: 2rem;
        font-size: larger;
    }
}